{% extends '_blank.html' %}

{% block qux_content %}
<div class="container my-4">
  <h1>Qjango API</h1>

  <div class="api-docs my-5">
  {% for item in items %}
  <div class="row no-gutters p-2 my-3 justify-content-center api {{ item.method }}">
    <div class="col-api-method">
      <div class="api-method {{ item.method }}">{{ item.method }}</div>
    </div>
    <div class="col">
      <div class="ml-0 ml-sm-3 api-path">
        {% if '{' not in item.path %}<a href="{{ item.path }}">{{ item.path }}</a>{% else %}{{ item.path }}{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% endblock qux_content %}
